<%= form_for(freepost) do |f| %>
  <% if freepost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(freepost.errors.count, "error") %> prohibited this freepost from being saved:</h2>

      <ul>
      <% freepost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class=" field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "cc form-control" %>

  </div>
  <br>
  <div class=" field">
    <%= f.label :content %>

    <%= f.text_area :content, class: "cc form-control" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit %>

  </div>
</div>  
<% end %>