

<form action="/posts/<%= @post.id%>/check" method="post">
    <input type="string" name="gets">
    <input type="submit" value="입력">
</form>

안 낸사람

<% @checks_sort.each do |x| %>
    <% if x.money != 1 %>
        <form action="/posts/<%= @post.id%>/check/yes/<%=x.id%>" mehtod="post">
            <%= x.name %>
            <input type="submit" value="확인">
        <form action="/posts/<%= @post.id%>/check/yes/<%=x.id%>" mehtod="delete">
            <input type="submit" value="삭제">
        </form>
    <% end %>
<% end %>

<br>ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ<br>

낸사람
<% @checks.each do |x| %>
    <% if x.money == 1 %>
        <form action="/posts/<%= @post.id%>/check/no/<%=x.id%>" mehtod="post">
            <%= x.name %>
            <input type="submit" value="확인">
        <form action="/posts/<%= @post.id%>/check/yes/<%=x.id%>" mehtod="delete">
            <input type="submit" value="삭제">
        </form>
    <% end %>
<% end %>
<br>
<a class="nav-link" href="/posts/<%= @post.id%>">뒤로가기</a>
<a class="nav-link" href="/posts">글목록보기</a>
<br>
-----------------------<br>
 