<%= form_for(post_n) do |f| %>
  <% if post_n.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_n.errors.count, "error") %> prohibited this post_n from being saved:</h2>

      <ul>
      <% post_n.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :etc %>
    <%= f.text_field :etc %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
