<%= form_for(post_n) do |f| %>
  <% if post_n.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_n.errors.count, "error") %> prohibited this post_n from being saved:</h2>

      <ul>
      <% post_n.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group container">
  <div class="ff field">
    <%= f.label :date %>
    <br>
    <%= f.date_select :date, class: "ff form-control" %>
  </div>

  <div class="ff field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "ff form-control" %>
  </div>

  <div class="ff field">
    <%= f.label :total_price %>
    <%= f.number_field :total_price, class: "ff form-control" %>
  </div>

  <div class="ff field">
    <%= f.label :member %>
    <%= f.number_field :member, class: "ff form-control" %>
  </div>

  <div class="ff field">
    <%= f.label :etc %>
    <%= f.text_field :etc, class: "ff form-control" %>
  </div>
  

<br>
<div class="d-flex">
    <div class="actions">
      <button type="submit" class="btn btn-info">
      제출
      </button>
    &nbsp    
    </div>
    <button class="btn btn-info">
      <%= link_to '뒤로', post_ns_path %>
      </button>
  </div>
</div>
<% end %>
