<div class="container">
<h1>Post Ns</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Etc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_ns.each do |post_n| %>
      <tr>
        <td><%= post_n.date %></td>
        <td><%= post_n.title %></td>
        <td><%= post_n.etc %></td>
        <td><a href="/post_ns/<%= post_n.id%>/check_n">명단확인</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post N', new_post_n_path %>
</div>
