<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @post_n.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post_n.title %>
</p>

<p>
  <strong>Etc:</strong>
  <%= @post_n.etc %>
</p>

위에 내용 다 지우고 바로 명단 확인하는 폼

<%= link_to 'Edit', edit_post_n_path(@post_n) %> |
<%= link_to 'Back', post_ns_path %>
