<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @post_n.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post_n.title %>
</p>

<p>
  <strong>Etc:</strong>
  <%= @post_n.etc %>
</p>


<a href="/post_ns/<%= @post_n.id%>/check_n">명단확인</a>


<%= link_to 'Edit', edit_post_n_path(@post_n) %> |
<%= link_to 'Back', post_ns_path %>
