<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group container">
  <div class="field">
    <%= f.label :기획날짜 %>
    <br>
    <%= f.date_select :date, class: "ff form-control text-center"%>
  </div>
  <br>
  <div class="field">
    <%= f.label :기획제목 %>
    <%= f.text_field :title, class: "ff form-control text-center", placeholder: "엠티"  %>
  </div>
  <br>
    <div class="field">
    <%= f.label :사람수 %>
    <%= f.number_field :member, class: "ff form-control text-center", placeholder: "10" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :메모, class: "text-left" %>
    <%= f.text_field :etc, class: "ff form-control text-center", placeholder: "멋쟁이사자처럼 뒷풀이" %>
  </div>
  <br>
  <div class="d-flex justify-content-md-center">
    
      <button class="btn btn-info">
      <%= link_to '뒤로', posts_path %>
      </button>
    
  &nbsp  
    <div class="actions">
      <button type="submit" class="btn btn-info">
      제출
      </button>
  </div>    
    
<% end %>
</div>