
<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Etc:</strong>
  <%= @post.etc %>
</p>



<%=form_for Table.new, url:post_table_index_path(post_id: @post.id) do |f|%>
  <%=f.label "항목"%>
  <%=f.text_field :item %>
  
  <%=f.label "수량"%>
  <%=f.number_field :EA %>

  <%=f.label "가격"%>  
  <%=f.number_field :price %>
  
  <%=f.label "비고"%>
  <%=f.text_field :etc %>  
  <%=f.submit '제출'%>
<% end %>

<table class="table">
  <tr>
    <th>항목</th>
    <th>수량</th>
    <th>가격</th>
    <th>총액</th>
    <th>비고</th>
    <th>삭제</th>
  </tr>
  <% a = 0%>
  <%@post.tables.each do |table|%>
  

    <tr>
    
      <td><%=table.item%></td>
      <td><%=table.EA%></td>
      <td><%=table.price%></td>
      <% table.total = table.EA*table.price  %>
      <td><%=table.total%></td>
      <% a = a + table.total%>
      <td><%=table.etc%></td>
      <td>
        <%= link_to '삭제', post_table_path(@post.id,table.id), method: 'delete'%>
      </td>
    </tr>
  <% end%>
  <% @post.total_price = a %>
  <tr>
    <th><%=@post.tables.sum("total")%></th>
  </tr>
</table>


<a href="/posts/<%= @post.id%>/check">명단확인</a>

     <% if current_user == @post.user%>
        <td><%= link_to '수정하기', edit_post_path(@post) %></td>
        <td><%= link_to '삭제하기', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% else%>
         <td></td>
         <%end%>
 |
<%= link_to 'Back', posts_path %>
