<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

   <body class="text-center container">
      
        <div class="cover-container">
          <header class="masthead mb-auto">
            <div class="inner">
              <nav class="nav nav-masthead">
                <div class="d-flex justify-content-start">
                  <a class="nav-link navi" href="/">Tothefirstpart</a>
                  <a class="nav-link navi" href="/freeposts">자유게시판</a>
                </div>
                <div class="d-flex justify-content-end">   
                  <a class="nav-link navi" href="/posts">myPage</a>
                      <% if user_signed_in? %>
                    <%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: "nav-link navi" %>
                    <% else %>
                      <%= link_to '로그인', new_user_session_path, class: "nav-link navi" %>
                      <%= link_to '회원가입', new_user_registration_path, class: "nav-link navi" %>
                    <% end %>
                </div>     
                       
              </nav>
            </div> 
          </header>
        </div>   
    <%= yield %>
  </body>
</html>
