<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

   <body class>
      <div class="topnav sticky-top">
            <nav class="navbar">
                <!--왼쪽-->
                <div class="container">
                    <div>
                    <a class="navi1" href="/">아마겟돈</a>
                    </div>
                    <div>
                    <a class="navi" href="/posts">기획</a>
                    <a class="navi" href="/posts_ns">결산</a>
                    <a class="navi" href="/freeposts">자유게시판</a>
                    </div>
                    
                <!--icon-->
                    <div>
                        <a class="navi" href="/posts">내페이지</a>
                      <% if user_signed_in? %>
                    <%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: " navi" %>
                    <% else %>
                      <%= link_to '로그인', new_user_session_path, class: "navi" %>
                      <%= link_to '회원가입', new_user_registration_path, class: "navi" %>
                    <% end %>   
                    </div>
                </div>    
            </nav>     
        </div>
    <%= yield %>
  </body>
</html>
