<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

   <body class="text-center container">
      
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link navi" href="/">Tothefirstpart</a>

                  <a class="nav-link navi" href="/posts">myPage</a>
                  <a class="nav-link navi" href="/post_ns">엔빵Page</a>
                  <a class="nav-link navi" href="/freeposts">자유게시판</a>
                      <% if user_signed_in? %>
                    <%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: "nav-link navi" %>
                    <% else %>
                      <%= link_to '로그인', new_user_session_path, class: "nav-link navi" %>
                      <%= link_to '회원가입', new_user_registration_path, class: "nav-link navi" %>
                    <% end %> 
                       
              </nav>
            </div> 
          </header>
        </div>   
    <%= yield %>
  </body>
</html>
